.para{
  border-style: dotted;
  border-color: purple;
  padding: 150px;

}

p.content{
  text-align: center;
  position: relative;
  top: 140px;
}

.below{
  position: relative;
  text-align: center;
  color: green;
  font-size: 10px;
  padding: 10px;
}

.hyper{
  color: orange;
  font-size: 30px;
}

.hyper sup{
  color: red;
}

.right {
  color: purple;
  position: relative;
  text-align: right;
  font-size: 10px;
}

.right em{
  color: yellow;
}
